<IfModule mod_rewrite.c>
  RewriteEngine On
  	#Routes
  RewriteRule ^api/?$ index.php [NC,L]
  RewriteRule ^api/show/([a-z0-9-]+)/([a-z0-9-]+)/?$ index.php [NC,L]
  RewriteRule ^api/certificados/usuario/([0-9]+)/([a-z0-9-]+)/?$ index.php [NC,L]
  RewriteRule ^api/store/?$ index.php [NC,L]
  #RewriteRule ^api/update/?$ index.php [NC,L]
  #RewriteRule ^api/delete/?$ index.php [NC,L]
</IfModule>